<h2>Forgot your password?</h2><br/>
<%= flash[:notice] %>
<%= form_with url: "/password/forgot_password", method: :post do |f|%>

<div class="input-box">
<div class="field">

<%= f.email_field :email, placeholder: 'Enter your Email', :maxlength=>"50" %>
</div>
  </div>

 <div class="button input-box">
    <%= f.submit "Get new password" %><br />
 </div>
<%end %>
